header {
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  background: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: 20px;
  background-color: white;
}
