.filters {
  height: 70px;
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  position: relative;
  display: flex;
}

.locations, .amenities {
  height: 100%;
  width: 25%;
  position: relative;
  display: inline-block;
}

.amenities {
  margin-left: -4px;
}

.locations {
  border-right: #DDDDDD solid 1px;
}

.locations > h3, .amenities > h3 {
  font-weight: 600;
  padding-left: 20%;
  margin-bottom: 0.2em;
}

.locations > h4, .amenities > h4 {
  font-weight: 400;
  font-size: 14px;
  padding-left: 20%;
  margin-top: 0;
}

.popover ul {
  list-style-type: none;
}

.popover h2 {
  margin-bottom: 1px;
}

.city {
  margin-left: -20px;
  margin-top: -5px;
}

.popover {
  display: none;
  position: absolute;
  width: 100%;
  line-height: 200%;
  z-index: 1;
  background-color: #FAFAFA;
  border: #DDDDDD solid 1px;
  border-radius: 4px;
  margin-top: -4px;
  margin-left: -1px;
  padding-top: 10px;
  padding-bottom: 10px;
  word-wrap: break-word;
}

.amenities:hover .popover {
  margin-left: 3px;
}

.locations:hover .popover,
.amenities:hover .popover {
  display: inline-block;
}

.button_search {
  flex: 2;
}

.button_search button{
  font-size: 18px;
  background-color: #FF5A5F;
  color: #FFFFFF;
  height: 48px;
  width: 40%;
  border: none;
  border-radius: 4px;
  position: relative;
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 25px;
  padding: 0;
}

.button_search:hover button {
  opacity: 0.9;
}

@media screen and (max-width: 645px) {

  .filters {
    height: 25%;
    width: 100%;
    border: none;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .locations, .amenities {
    height: 25%;
    width: 100%;
    font-size: 120%;
    margin-top: 0;
    text-align: center;
    border-top: 1px solid #DDDDDD;
    position: relative;
  }

  .amenities {
    border-bottom: 1px solid #DDDDDD;
  }

  .locations > h3, .amenities > h3 {
    font-weight: 600;
    padding-left: 0
  }

  .locations > h4, .amenities > h4 {
    display: none;
  }

  .button_search {
    flex: 2;
    display: flex;
    justify-content: center;
  }

  .button_search button {
    top: 00%;
    transform: translateY(0%);
    width: 100%;
    margin: 0;
  }

  .locations:hover .popover,
  .amenities:hover .popover {
    display: none;
  }

}
