.places {
  width: 100%;
  margin-bottom: 100px;
}
.places h1 {
  font-size: 30px;
  margin-left: 25px;
}

.place_items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.place_items > article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: #FF5A5F solid 1px;
  border-radius: 4px;
}

.place_items h2 {
  font-size: 30px;
  margin-top: 0;
  padding: 0;
  text-align: center;
}
